.vertical-menu {
  width: 200px; /* Set a width if you like */
}

.vertical-menu li {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu li:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu .active, li:active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}


/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Style the active class (and buttons on mouse-over) */